version: '3.3'
services:
    semantic_representation:
        image: semantic-representation
        build:
            context: .
            dockerfile: Dockerfile
        ports: 
            - 5000:5000
        volumes:
            - "./:/var"